example_data/qa.json filter=lfs diff=lfs merge=lfs -text
example_data/web.json filter=lfs diff=lfs merge=lfs -text
example_data/dev_data.jsonl.bz2 filter=lfs diff=lfs merge=lfs -text
models/meta-llama/* filter=lfs diff=lfs merge=lfs -text
models/sentence-transformers/* filter=lfs diff=lfs merge=lfs -text
example_data/subsampled_crag_task_1_dev_v3_release.jsonl.bz2 filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-8B-Instruct filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00004-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00007-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00012-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00029-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00005-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00018-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00021-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00024-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00002-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00003-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00009-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00014-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00017-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00030-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00022-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00026-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00028-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00001-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00006-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00010-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00013-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00016-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00011-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00015-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00019-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00008-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00020-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00023-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00025-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/meta-llama/Meta-Llama-3-70B-Instruct/model-00027-of-00030.safetensors filter=lfs diff=lfs merge=lfs -text
models/sentence-transformers/gtr-t5-xl/ filter=lfs diff=lfs merge=lfs -text
