accelerate==0.30.1
beautifulsoup4==4.12.2
bitsandbytes==0.43.1
blingfire==0.1.8
hf-transfer==0.1.6
huggingface-hub==0.23.2
loguru==0.7.2
lxml==4.9.3
sentence_transformers==3.0.0
torch==2.3.0
transformers==4.41.1
vllm==0.4.2
pyyaml==6.0.1
argparse==1.4.0
justext==3.0.1
